</script>
<script>
$(document).ready(function(){
$("#flip").click(function(){
$("#panel").slideToggle("slow");
});
});
</script>

<style type="text/css">
    #panel,#flip
    {
        padding:1px;
        text-align:center;
        background-color:#DCDCDC;
        border:solid 1px #eee;
        font-family:"Times New Roman", Times, serif;
    }
    #flip{
        text: #000;
    }
    #panel
    {
        padding:20px;
        display:none;
    }
</style>
</head>
<div class="center hero-unit">
  <h1>Welcome to OrderUrMeal</h1>

  <div id="flip"><font color="#006400">Click</font> to get surprise</div>
  <div id="panel">
    <p> OrderUrMeal has <font color="red">1,000,000</font> users !!! </p>
    <p><font color="green"> Sign up</font> now to get a <font color="red">$10</font> giftcard !!! </p>
  </div>
</div>