<h1>Food</h1>

<table class="table">
  <tr class="row">
    <th>shop</th>
    <th>name</th>
    <th>price</th>
    <% if signed_in? %>
    <th>operations</th>
    <% end %>
  </tr>
  <% @foods.each do |food|%>
      <tr class="row">
        <td class=""><%= food.shop_id %></td>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <% if signed_in? %>
        <td><%= link_to "place order", new_order_path(:food_id=>food.id, :quantity=>1, :price=>food.price), class: "btn btn-primary" %></td>
        <% end %>
      </tr>
  <% end %>
</table>